body {
  margin: 0;
  margin-top: 150px;
}
.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#root {
  height:100vw;
}

.light {
  background-color: white;
  color: black;
    height:100vw;
}

.dark {
  background-color: gray;
  color: red;
    height:100vw;
}
