nav {
  width: 100vw;
  height: 100px;
  background-color: bisque;
  padding: 0.1rem;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links {
    display: flex;
    gap: 1rem;
}

.links > a {
    text-decoration: none !important;
}

.text-yellow {
    border-bottom: 3px solid blue;
}

.fontbold {
    font-weight: 800;
}

.text-gray {
    color: gray;
}
